<div class="container">
  <div class="row row-padded">

    <!--Icon-->
    <div class="col-xs-3">
      <img src="http://placehold.it/128x128" />
    </div>

    <!--GroupInfo-->
    <div class="col-xs-9">
      <h1>{{group.name}}</h1>
      <p>Description: {{group.description}}</p>
    </div>

  </div>

  <!--GroupMembers-->
  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <a ng-repeat="user in users" class="list-group-item" href="#/user/{{user.userId}}">
          <span class="badge">{{user.userId}}</span>
          {{user.firstName}} {{user.lastName}}
        </a>
      </div>
    </div>
  </div>

</div>
