<div class="container">

  <!--ErrorMessage-->
  <div class="row" ng-show="error">
    <div class="col-xs-12">
      <div class="alert alert-danger">
        <span class="badge pull-right">{{error.code}}</span>
        Error: Unable to connect to server.
      </div>
    </div>
  </div>

  <div class="row">

    <!--Filter Content-->
    <div class="col-xs-12">
      <div class="list-group-head">
        <div class="input-group">
          <span class="input-group-addon">Search:</span>
          <input type="text" class="form-control" ng-model="query" />
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <!--Body Content-->
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <div class="panel-body" ng-show="false"></div>
        <div class="list-group">
          <a class="list-group-item" href="#/user/{{user.userId}}"
              ng-repeat="user in fusers = (users | filter:query)">
            <span class="badge">{{user.userId}}</span>
            {{user.firstName}} {{user.lastName}}
          </a>
          <div class="list-group-item" ng-hide="fusers.length">
            <div class="text-center text-muted"><em>Empty</em></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <!--Actions-->
    <div class="col-xs-12">
      <div class="btn-group">
        <a class="btn btn-labeled btn-success" href="#/user/new" role="button">
          <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>
          New
        </a>
      </div>
    </div>

  </div>
</div>
