<div class="container">

  <!--ErrorMessage-->
  <div class="row" ng-show="error">
    <div class="col-xs-12">
      <div class="alert alert-danger">
        <span class="badge pull-right">{{error.code}}</span>
        Error: Unable to connect to server.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">User</div>

        <div class="panel-body">
          <div class="row">

            <!--Icon-->
            <div class="col-xs-4">
              <img src="http://placehold.it/128x128" alt="" class="img-rounded img-responsive" />
            </div>

            <!--UserInfo-->
            <div class="col-xs-8">
              <h3>{{user.firstName}} {{user.lastName}}</h3>
              <small class="text-muted">
                <em>location<i class="glyphicon glyphicon-map-marker"></i></em>
              </small>
              <p>
                <span class="lbl-icon"><i class="glyphicon glyphicon-envelope"></i></span>{{user.email}}<br />
                <span class="lbl-icon"><i class="glyphicon glyphicon-globe"></i></span>homepage<br />
                <span class="lbl-icon"><i class="glyphicon glyphicon-calendar"></i></span>calendar
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!--Groups-->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Groups</div>
        <div class="panel-body" ng-show="false"></div>
        <div class="list-group">
          <a ng-repeat="group in groups" class="list-group-item" href="#/group/{{group.groupId}}">
            <span class="badge">{{group.groupId}}</span>
            {{group.name}}
          </a>
          <div class="list-group-item" ng-hide="groups.length">
            <div class="text-center text-muted"><em>Empty</em></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Events-->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">Events</div>
        <div class="panel-body" ng-show="false"></div>
        <div class="list-group">
          <a ng-repeat="event in events" class="list-group-item" href="#/event/{{event.eventId}}">
            <span class="badge">{{event.eventId}}</span>
            {{event.name}}
          </a>
          <div class="list-group-item" ng-hide="events.length">
            <div class="text-center text-muted"><em>Empty</em></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
